/* import open sans sarif font with 600 semi bold */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@600&display=swap');


html,
* {
  padding: 0;
  font-family: Open+Sans,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
}

:root{
  --clr-primary: #ee6352;
  --clr-body: #333;
  --clr-bg: #FFFFFF;
  --lightGrey: #D3D3D3;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin:0;
}

body{
  min-height: 100vh;
  line-height: 1.6;
  color: var(--clr-body);
  background: var(--clr-bg);
}

h1,h2,h3{
  font-weight: 900;
  line-height: 1;
}

h2,
h3,
p {
  margin-bottom: 1em;
}
