.root{
    max-width:345,
}
.services{
    background-color: rgb(232, 236, 29);
  
    }
    

    .services h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 5em;
        text-align: left;
      }
      .services p{
        font-size: 1em;
        text-align: left;
      }

    .images {
        border-radius: 50%;
        display: block;
        width: 100px;
        height: 100px;
        font-size: 60px;
        line-height: 99px;
        border: 1px solid #63c672;
        color: #63c672;
        transition: 0.4s;
    }