/* two Hero component one for default and one for employee page */
.defaultHero{
  min-height: calc(80vh - 40px);
  background: url("../../Images/homePic.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* End of Hero */